RPC_USER=
RPC_PASSWORD=
RPC_HOST=localhost
RPC_PORT=8332
BITCOIN_CORE_PROCESS_NAME=bitcoin-qt.exe
BITCOIN_CORE_PATH=
DATA_BLOCKCHAIN_DIR=
REDIS_PROCESS_NAME=redis-server.exe
REDIS_EXECUTABLE_PATH=C:\Program Files\Redis\redis-server.exe
BLOCKS_SQL_DATA=C:/blocks_sql_data/blocks_sql_data_db.db
