# Ignore Python bytecode files
*.py[cod]

# Ignore cache directories
__pycache__/
*.pyc
*.pyo

# Ignore environments (точно ли надо не выгружать окружение?)
myenv/
venv/
env/
.env
.venv
.venv_*/
.myenv
.vscode/
.idea/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
logs/
*.log
*.tmp

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore files
*.parquet
*.csv
*.gz
*.ipynb
*.db
*.db-shm
*.db-wal
*.json
*.zip
*.png
*.log

data/logger_count/

data_operations.py
make_project_archive.py
