# команда 
# I:\my_python\Traider_bot\app_project> pip freeze > requirements.lock.txt
# но перед этим -создание отдельного окружения для проекта


# установка зависимостей - pip install -r requirements.txt
# в app_project\data\bitcoin_price\raw_btc_price закинуть https://www.cryptoarchive.com.au/bars/BTCUSDT